.form-body{
    margin: 20px auto;
    min-width: 300px;
    max-width: 600px;
    width: 50%;
    text-align: center;
    background: white;
    padding: 40px;

    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    
    .form-title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }


    form {
        display: flex;
        flex-direction: column;

        > * {

            text-align: center;

            border: 1px solid lightgray;
            border-radius: 10px;
            box-shadow: 0 0 10px lightgray;

            padding: 10px;
            margin: 5px;

        }

        button{
            width: fit-content;
            padding: 0px;
            align-self: center;
            margin-top: 20px;
            background: lightgreen;

            .title{
                padding: 10px;
            }

            i {
                padding: 10px;
                border-left: 1px solid gray;
            }


        }

        textarea {
            resize: none;
        }

    }
    
}