<link rel="stylesheet" href="/css/form.css">


<div class="form-body">
    <div class="form-title">Login</div>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit"> <span class="title">login</span><i class="fa-solid fa-arrow-right"></i></button>
    </form>
</div>