<link rel="stylesheet" href="/css/form.css">


<div class="form-body">
    <div class="form-title">Login</div>
    <form action="/user/login">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="submit" value="login">
    </form>
</div>