<% if(locals.company) {%>
<link rel="stylesheet" href="/css/form.css">
    <div class="form-body">
        <div class="form-title">Signup for Employee </div>
        <form id="createEmployeeForm">
            <select name="company">
                <% for(com of company) { %>
                    <option value="<%=com.name%>"><%=com.name%></option>
                <% }%>
            </select>
            <input type="text" name="position" placeholder="position" >
            <input type="text" name="name" placeholder="name" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="password" name="cpassword" placeholder="confirm password" required>
            <button type="submit"> <span class="title">create user</span><i class="fa-solid fa-plus"></i></button>
        </form>
    </div>

    <script src="/js/createEmployee.js"></script>
<%} else { %>
    <div>
        <div class="message">
            there is no company registered yet <br>
            there is not point creating employee without company
        </div>
        <a href="/create-company">create company</a>
    </div>
<% } %>


