<link rel="stylesheet" href="/css/form.css">

<div class="form-body" >
    <div class="form-title">Create A Company</div>
    <form action="/user/create-company">
        <input type="text" name="name" placeholder="admin name"  required>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <input type="password" name="cpassword" placeholder="confirm password" required>
        <input type="text" name="position" placeholder="position" >
        <input type="text" name="company" placeholder="new company name" required>
        <textarea name="descriptio" rows="5" placeholder="Enter company description..."></textarea>
        <input type="submit" value="create company">
    </form>
</div>